<nav th:fragment="nav_bar" class="navbar navbar-dark sticky-top flex-md-nowrap p-0" style="background-color: #29303C;">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">BANCO DE DESARRROLLO DE EL SALVADOR</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <form th:action="@{/central/logout}" method="post">
                <button type="submit" class="btn btn-link" style="color:#fff">Salir</button>
            </form>
        </li>
    </ul>
</nav>